* {
	margin: 0;
}
html, body {
	height: 100%;
}
.site-footer, .content:after {
  margin:15px auto 0px auto;
	height:60px; 
  max-width:960px;
}
.site-footer {
	background-color:#777777;
}

.site-footer p {
	padding-left: 25px;
	padding-top: 20px;
}

.content {
  max-width:940px;
	min-height:80%;
	margin-bottom: -75px; 
  margin:auto;
  padding: 10px 10px 25px 10px;
  font-family: Trebuchet MS;
	background-color:#777777;
	color:#151515;
}

.content #power {
  padding: 5px;
  margin:15px auto;
	width:200px;
	text-align:center;
}

.pdf {
	width: 100%;
	height: 1350px;
	background-color: #FFF;
}

.pdf object {
	width: 100%;
	height: 100%;
}

.bbtn, .fbtn, .line, .bar, .exportcsv, .exportpng { 
	background-color: #FFF;
	color: #000;
	border: medium none;
	cursor: pointer;
	padding: .4em;
	text-decoration: none;
	margin: 0.3em;
}

.buttons-center {
	float: right;
	position: relative;
	right: 18em; 
}

.exportpng, .exportcsv {
	float: left;
}

.bbtn {
	float: left;
	/* 
	background-color:transparent; 
	border-color:transparent;
	float:left;
	background: url('//tinoest.co.uk/mvc/images/arrow_left.png');
	*/
}

.line {
	float: left;
}

.bar {
	float: right;
}

.fbtn {
	float: right;
	/*background-color:transparent;*/ 
	/*border-color:transparent;*/
	/*background: url('//tinoest.co.uk/mvc/images/arrow_right.png');*/
}


#chart {
	background-color:#fff;
	padding-left: 10px;
}

.title-container {
  padding: 10px;
	background-color:#9d9d9d;
	height:15px;
}

.title-author {
	float:right;
	width:120px;
}

.title-name {
	float:left;
	width:600px;
}

.content-container {
  padding: 10px;
}

.content textarea#post-content {
  width: 700px; 
	height: 300px;
}

.login #password {

	height: 30px;
	width: 100px;
	float: left;
	border: 1px solid #efefef;

}

.login, label{
	float: left;
	clear: left;
	margin: 11px 20px 0 0;
	width: 95px;
	text-align: right;
}

.login #username {
	float: left;
	height:30px;
	width:100px;
	border: 1px solid #efefef;

}

.content #post-title {
	border: 2px solid #efefef;
	width:400px;
}

.content #post-content-submit {
	border: 2px solid #efefef;
}

/* BASIC SETTINGS */
body {	
	margin:0;
	padding:0;
	height:100%;
	background-color:#9d9d9d;
}

.site-header {
	background-color:#777777;
  max-width:940px;
  margin:0 auto;
  padding: 10px;
	min-height: 70px;
}

.logo img {
	width: 6em;
}

.logo {
	float:left;
	position:absolute;
}

.site-name {
    position:absolute;
		font-size:34px;
		text-align:left;
		display:none;
}

a {
 color:#d9d9d9;
}

pre {
	background: #9d9d9d;
	overflow-x: hidden; /* hides the horizontal scroll bar */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	padding: 1em;
}

canvas#chartData {
	height:50%;
	width:97%;
}
